<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的小狗详情</title>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="email=no" name="format-detection">
<meta content="maximum-dpr=1" name="flexible" />
<script src="js/flexible.750.js"></script>
<link rel="stylesheet" type="text/css" href="css/h5-reset.css" />
<link rel="stylesheet" type="text/css" href="css/h5-index.css" />
</head>
<body class="bgc-f5f5f5">
	<div class="header"></div>
	<div class="content"></div>
	
	<div class="g-h60"></div>
	<div class="footer fixed bottom">
		<div class="item item-block btn-groups flex bt1-ebebeb btn-min-none">
			<button class="btn  flex-1 bgc-fff btn-succ btn-h50">赠送</button>
			<button class="btn  flex-1 bgc-ff755b btn-succ ml0 btn-h50">提交生育</button>
			<button class="btn  flex-1 bgc-ffb04f btn-succ ml0 btn-h50">出售</button>
		</div>
	</div>
<script type="text/html" id="DOGDETAIL" style="dispaly:none;">
       	<div class="box">
			<ul class="imgTitPriTime-ul">
				<li class="imgTitPriTime p0"><a href="javascript:void(0);"
					class="g-c2-float flex box column">
						<div class="hd">
							<div class="radius-0">
								<img src="{{picurl}}" class="img" />
							</div>
						</div>
						<div class="bd flex-1 ptb20lr15">
							<div class="tit tit-fs21">{{nickname}}</div>
							<div class="des">
								<span class="pr16">第{{generation}}代</span>
                                <span>生育时间11小时</span>
							</div>
							<div class="pri-box">当前售价 = {{amount}} {{currency}}</div>
							<div class="name flex">
								<div class="hd img-w-40">
									<div class="radius-50 bgc-999"></div>
								</div>
								<div class="bd">
									<div class="tit">{{owner}}</div>
									<div class="des">所有者</div>
								</div>
							</div>
						</div>
				</a></li>
			</ul>
		</div>
		<div class="box ptb20lr15 bgc-fff bt10-f5f5f5">
			<div class="hd">
				<div class="tit tit-fs21">基因</div>
			</div>
			<div class="bd">
				<div class="label-group f-click-par">
					<span class="label f-click on" data-id="radio" data-checked="1"
						data-par=".f-click-par" data-v="0">赤</span><span
						class="label f-click" data-id="radio" data-checked=""
						data-par=".f-click-par" data-v="0">宝蓝</span><span
						class="label f-click" data-id="radio" data-checked=""
						data-par=".f-click-par" data-v="0">阿拉斯加</span><span
						class="label f-click" data-id="radio" data-checked=""
						data-par=".f-click-par" data-v="0">拉布拉多</span><span
						class="label f-click" data-id="radio" data-checked=""
						data-par=".f-click-par" data-v="0">吉娃娃</span><span
						class="label f-click" data-id="radio" data-checked=""
						data-par=".f-click-par" data-v="0">边境牧羊犬</span>
				</div>
			</div>
		</div>
        {{if father !=null &&father!=''&&fatherObj!=null}}
		<div class="box ptb20lr15 bgc-fff bt10-f5f5f5">
			<div class="hd">
				<div class="tit tit-fs21">父母</div>
			</div>
			<div class="bd">
				<ul class="flex img-groups label-group">
					<li class="item img-w-120">
                       <a href="buy_detail.html?id={{fatherObj.id}}">
                         <span class="radius-2"><img src="{{fatherObj.picurl}}" class="img" /></span>
                     </a></li>
					<li class="item img-w-120">
                       <a href="buy_detail.html?id={{motherObj.id}}">
                       <span class="radius-2"><img src="{{motherObj.picurl}}" class="img" /></span>
                    </a></li>
				</ul>
			</div>
		</div>
        {{/if}}
        {{if children!=null &&children.length>0}}
		<div class="box ptb20lr15 bgc-fff bt10-f5f5f5">
			<div class="hd">
				<div class="tit tit-fs21">子女</div>
			</div>
			<div class="bd">
				<ul class="flex img-groups label-group">
                    {{each children as item i}}
					<li class="item img-w-120">
                       <a href="buy_detail.html?id={{item.id}}""><span class="radius-2"><img src="{{item.picurl}}" class="img" /></span>
                    </a></li>
                    {{/each}}
				</ul>
			</div>
		</div>
        {{/if}}
    </script>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/ajax.min.js"></script>
	<script type="text/javascript" src="js/template.js"></script>
    <script type="text/javascript" src="js/common.js"></script>

</body>
</html>